*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.content-section{
    width: 500px;
    height: 390px;
    border-radius: 60px;
    border: 1px solid black;
    margin: 0 auto;
    padding: 40px;
    background-color: coral;
}

.title-section{
    width: 130px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid black;
    margin: 0 auto;
    position: relative;
    top: 10px;
    background-color: rgb(135, 224, 194);
    text-align: center;
}

.content-section p{
    position: relative;
    top: 30px;
    text-align: justify;
}